.titleStyle {
  font-family: var(--roboto-font);
  color: var(--titles-color);
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-top: 8rem;
}
.btnStyling {
  font-family: var(--roboto-mono-font);
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  color: var(--other-grey-color);
  cursor: pointer;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
}
